# OS
.DS_Store
Thumbs.db
Desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Python
__pycache__/
*.pyc

# Environment
.env
.env.*

# Build artifacts
bin/
obj/
dist/
build/
node_modules/
.tmp/
out-test-invalid/
.tmp-test/
out/
